
<%= form_for [ @article, @comment ], remote:true do |f| %>
  <% if user_signed_in? %>
<%= f.hidden_field :user_name, :value => current_user.user_name%>
    
   
    <%else%><p>
    <%= f.label :user_name,"Your Name"%><br/>
    <%= f.text_field :user_name %><%end%>
  </p>
  <p>
  
    <%= f.text_area :body,:required => true, class: "form-control js-auto-size", placeholder: "Join the discussion" %>
 
  
  <span>
    <%= f.submit 'Submit',:class=>'btn btn-success', :style =>'margin-bottom: 15px;' %>
   </span> </p>
<% end %>
