<div class="hide-form">
<%= form_for [ @article, @comment], remote:true do |f| %>
  <% if user_signed_in? %>
<%= f.hidden_field :user_name, :value => current_user.user_name%>
    
   
    <%else%><p>
    <%= f.label :user_name,"Your Name"%><br/>
    <%= f.text_field :user_name %><%end%>
  </p>
  <p>
  
    <%= f.text_area :body,:required => true, class: "form-control js-auto-size", placeholder: "Join the discussion" %>
 
  
  <span>
    <%= f.submit 'Submit',:class=>'btn btn-success', :style =>'margin-bottom: 15px;' %>
   </span> </p>
<% end %>
</div>
<script type="text/javascript">
   $(".edit-comment-btn").click(function(){
      $(".hide-form").each(function(){
     $(this).hide();
   $('.comment-sec').html("<%= escape_javascript(render(:partial => '/articles/comment', collection: @article.comments.order("created_at DESC"))) %>");

 });
 });
</script>