<div class="comment">
<%#if @comment.present?%>
	<%#comment = @comment%>
<%#end%>
<%#debugger%>
<div class="col-md-1 user-photo" style="padding-left:0px;"><%=image_tag comment.user.image.url(:circle), style: "border-radius: 50%;"%></div>

<ul class="inline-list dot-seperator">
<li><a href="#"><%= comment.user.user_name %></a></li>
									<li class="small"><%=l comment.created_at, :format => :sample%></li>
								</ul>
  
<div class="comment-body">
							
							
								
									
								<p style="padding-left:5px"><%= comment.body %></p>
								<div class="comment-footer" style="font-size: 12px;
    margin-bottom: 20px; padding-left:5px;">
									
										<%= link_to 'Edit',edit_article_comment_path(:article_id => comment.article_id, :id => comment.id), :remote=> true, :class=>"edit" %> |
									
<%= link_to 'Delete',article_comment_path(:article_id => comment.article.id, :id=>comment.id), method: :delete, :remote=> true, data: {confirm:  "Are you sure?" }, :class=>"del"%>
										
						
								
								</div><!--.comment-footer-->
							</div><!--.comment-body-->
						</div><!--.comment-->

