<div class="panel">
  
  <!--.panel-heading-->
  <div class="panel-body">
<%= form_for(@article, :html => {:class => "form-horizontal parsley-validate-icon"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
   <div class="col-md-4 form-group ">
                     <div class="fileinput fileinput-new align-cntr" data-provides="fileinput">
                     
                      <div class="fileinput-preview thumbnail " style="width: 300px; height: 250px;">
                      <% if @article.image present?%>
                     <%= image_tag @article.image.url(:medium)%>
                     <%end%>
                      </div>
                     <div style="margin-top: 1px">
                      <span class="btn btn-teal btn-file "><span class="fileinput-new">Select Image</span><%= f.file_field :image%><span class="fileinput-exists">Change</span><input type="file" name="image"></span>
                      <a href="#" class="btn btn-teal fileinput-exists" data-dismiss="fileinput">Remove</a>
                     </div>
                    </div> 
  </div>


    <div class="col-md-8 form-content">


      <div class="form-group row">
       
                  <div>
                    <div class="inputer">
                      <div class="input-wrapper">
                      <%= f.text_field :title, placeholder:"Title",:class=>"form-control", :required => true %>
                      </div>
                    </div>
                  </div>
        

       </div><!--.form-group-->
    

      <div class="form-group row">
     
                  <div >
                    <div class="inputer">
                      <div class="input-wrapper">
                     <%= f.text_area :body, placeholder: "Description", :class=>'form-control wysihtml5-editor bs-wysihtml5', :required => true, :minlength => '20' %>
                      </div>
                    </div>
                  </div>
     </div><!--.form-group-->


 
    <div class="form-buttons row mb">
      <div class="row">

        <div class=" col-md-8" style="padding-left: 0px;">
          <%= f.submit "Create", :class=>"btn btn-teal", :style => "padding: 5px 40px; margin-top:1px;"%>
        </div> 

      </div>
    </div>

</div><!--.form-content-->
<% end %>




</div><!--.panel-body-->






</div><!--.panel-->
