<div class="panel">
  
  <div class="panel-heading">
    <div class="panel-title"><h4 style="margin:10px;">CREATE ARTICLE</h4></div>
  </div><!--.panel-heading-->
  <div class="panel-body">
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
   <div class="col-md-4 form-group ">
                     <div class="fileinput fileinput-new align-cntr" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail " style="width: 300px; height: 250px;">
                      </div>
                     <div>
                      <span class="btn btn-default btn-file "><span class="fileinput-new">Select Image</span><%= f.file_field :image%><span class="fileinput-exists">Change</span><input type="file" name="image"></span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                     </div>
                    </div> 
  </div>


    <div class="col-md-8 form-content">


      <div class="form-group row">
       
                  <div>
                    <div class="inputer">
                      <div class="input-wrapper">
                      <%= f.text_field :title, placeholder:"Title",:class=>"form-control" %>
                      </div>
                    </div>
                  </div>
        

       </div><!--.form-group-->
    

      <div class="form-group row">
     
                  <div >
                    <div class="inputer">
                      <div class="input-wrapper">
                     <%= f.text_field :body, placeholder: "Description", :class=>"form-control" %>
                      </div>
                    </div>
                  </div>
     </div><!--.form-group-->


 
    <div class="form-buttons row mb">
      <div class="row">

        <div class=" col-md-8 col-md-offset-8">
          <%= f.submit "Create", :class=>"btn btn-brown", style: 'margin-top:125px;' %>
        </div> 

      </div>
    </div>

</div><!--.form-content-->
<% end %>




</div><!--.panel-body-->






</div><!--.panel-->
