
  


<div class="nav-bar-container">

    <!-- BEGIN ICONS -->
    <div class="nav-menu">
      <div class="hamburger">
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
      </div><!--.hamburger-->
    </div><!--.nav-menu-->

    <div class="nav-user">
    <% if user_signed_in? %>
      <div class="user">
          <%= link_to (image_tag current_user.image.url(:small)), profile_path(current_user.id), :class =>"img-responsive"%>
      </div><!--.user-->
    <% end %>  
</div>   <!-- nav-user -->
    <!-- END OF ICONS -->

    <div class="nav-bar-border"></div><!--.nav-bar-border-->

    <!-- BEGIN OVERLAY HELPERS -->
    <div class="overlay">
      <div class="starting-point">
        <span></span>
      </div><!--.starting-point-->
    
    </div><!--.overlay-->

    <div class="overlay-secondary"></div><!--.overlay-secondary-->
    <!-- END OF OVERLAY HELPERS -->

  </div><!--.nav-bar-container-->
<div class="layer-container">

    <!-- BEGIN MENU LAYER -->
    <div class="menu-layer">
      <ul>
        <li data-open-after="true">
          <a href="<%= articles_path(@articles) %>">Home</a>
        </li>
        
        
        <li>
         <% if user_signed_in? %>
          <a href="<%= profile_path(current_user.id) %>">Profile</a>
          <% end %>
          
        </li>
        </ul>
        
    </div><!--.menu-layer-->
    <!-- END OF MENU LAYER -->








  <div class="content">

    <div class="page-header full-content">
      <div class="row">
        <div class="col-sm-6">
          <h1>Incredible<small>India</small></h1>
        </div><!--.col-->
        <div class="col-sm-6">
          <ol class="breadcrumb">
              <li><a href="<%= articles_path(@articles) %>"></i> Home</a></li>

                        <% if user_signed_in? %>
                  <%= link_to current_user.user_name, profile_path(current_user.id) %>
                    <%= link_to "New Article",new_article_path %>
                     <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  <% else %>
             <%= link_to "Sign in",user_session_path %>
            <%= link_to "Sign up",new_user_registration_path %> 
             <% end %>
            </ol>
        </div><!--.col-->
      </div><!--.row-->
    </div><!--.page-header-->
    </div><!--.content-->
    </div><!--.layer-container-->




