<!--<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
   
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <#% @articles.each do |article| %>
      <tr>
        <td><#%= link_to article.title,article_path(article) %></td>
          <td><#%= image_tag article.image.url(:medium) %></td>
          
          <td> <#%= article.created_at.strftime("%b %d, %Y")%></td>
        
        <td><#%= article.body %></td>
        <td><#%= link_to 'Show', article %></td>
        <td><#%= link_to 'Edit', edit_article_path(article) %></td>
        <td><#%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td
  
    <%#end %>-->



<% if user_signed_in? %>


 <div class="content row head-image">
 <div class="col-md-12">

 <div class="index-imge">
 <img src="/assets/ma.jpg" width="100%">
 </div>
 </div>
 </div>



    <div class="row">
      <div class="col-md-12">
        <h1 style="font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 500;
     color: #5A4949;
    letter-spacing:2px;
    word-spacing:2px;
    padding:12px;
        text-transform: uppercase;
    border-bottom: 2px solid black;">Welcome to Incredible India</h1>
      </div><!--.col-->
    </div><!--.row-->

    <div class="row">
      <div class="col-md-12">

<p style="font-size: 17px; text-align: justify; font-family: 'RobotoDraft', sans-serif; ">        
<b>TOURISM</b> in India has shown a phenomenal growth in the past decade. One of the reasons is that the Ministry of tourism, India has realized the immense potential of tourism in India during vacations. India travel tourism has grown rapidly with a great influx of tourists from all across the globe who have been irresistibly attracted to the rich culture, heritage, and <i style="letter-spacing:1px;">INCREDIBLE NATURAL BEAUTY OF INDIA.</i></p>

<p style="font-size: 17px; text-align: justify; font-family: 'RobotoDraft', sans-serif;"> 
<b>INDIA TOURISM</b> with its foggy hill stations, captivating beaches, historical monuments, golden deserts, serene backwaters, pilgrimage sites, rich wildlife, and colourful fairs capture the heart of every tourist. In addition, a variety of festivals, lively markets, vibrant lifestyle, and traditional Indian hospitality, will make your experience as an india tourist truly unforgettable and fantastic.</p>

<p style="font-size: 17px; text-align: justify; font-family: 'RobotoDraft', sans-serif;"> Travel through the lovely Indian states and discover closely the resplendent colors and rich cultural locales of this incredible land. Our India tourism guide provides you a glimpse of travel and tourism in india ,india tourism information about south india tourism, north India tourism, and all the major tourist destinations, and tourism services of India.</p>


        
        

      </div><!--.col-->
    </div><!--.row-->
<div class="row">
<div class="col-md-12">

    <p style="text-align: center;
    font-weight: 500;
    background-color: white;
    padding: 20px;
    font-family: inherit;
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-left: 11px;
    margin-right: 11px;
    text-transform: uppercase;
       color: #5A4949;"> Article About Famous Spots In India</p>
</div>
</div>

  <div class="row article-title">
      <% @articles.each do |article| %>
      <div class="col-md-6">
        <div class="card card-event card-clickable">

          <a href= "<%= article_path(article)%>">

             <%= image_tag article.image.url(:medium), :class=>"imageee1"%></a>
      <!--.card-heading-->



<div class="card-body">

<div class="calendar">
              <div class="month">
             <%= article.created_at.strftime("%B -%d")%></div>
              <div class="date">
             <%= article.created_at.strftime("%Y")%></div>
            </div><!--.calendar-->
        
                <%= link_to article.title,article_path(article),:class=>"art-titles" %> 

                              <p style="font-size: 14px; margin: 15px; text-align: justify; font-family:  sans-serif; font-weight: lighter; letter-spacing: 1px;
    word-spacing: 1px;">The Taj Mahal was designated as a UNESCO World Heritage Site in 1983 for being "the jewel of Muslim art in India and one of the universally admired masterpieces of the world's heritage". Described by the Nobel laureate, Rabindranath Tagore, as "the tear-drop on the cheek of time", it is regarded by many as the best example of Mughal architecture and a symbol of India's rich history. The Taj Mahal attracts 7–8 million visitors a year. In 2007, it was declared a winner of the New7Wonders of the World </p>

          </div><!--.card-body-->

          

          <div class="clickable-button">
            <div class="layer bg-red"></div>
            <a class="btn btn-floating btn-red initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
          </div>

          <div class="layered-content bg-red">
            <div class="overflow-content">
              <h5 style="color: black; font-weight: 400; margin-left: 28px;">TOURISM OF INDIA</h5>
              <p style="text-align: justify;
    color: black;
    font-weight: 100;
    font-size: 15px;
    font-family: -webkit-body; letter-spacing: 1px; margin: 30px;">The Taj Mahal was designated as a UNESCO World Heritage Site in 1983 for being "the jewel of Muslim art in India and one of the universally admired masterpieces of the world's heritage". Described by the Nobel laureate, Rabindranath Tagore, as "the tear-drop on the cheek of time", it is regarded by many as the best example of Mughal architecture and a symbol of India's rich history. The Taj Mahal attracts 7–8 million visitors a year. In 2007, it was declared a winner of the New7Wonders of the World </p>
            </div><!--.overflow-content-->
            <div class="clickable-close-button">
              <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
            </div>
          </div>

        </div><!--.card-->
      </div><!--.col-md-6-->

      <% end %>
      </div>

<% else %>

<div class="one-page">

  <!--
  * To change the hover link color and active selector border color,
  you can combine the header div with header-*(material-colors).
  For ex: <div class="header header-red"> or <div class="header header-teal">
  -->
  <div class="header">
    <div class="container">

      <div class="logo">
        <img src="../../assets/logo.jpg" alt="Pleasure">
      </div><!--.logo-->

      <!--
      * data-nav-link attribute is necessary for data-anchor links.
      * data-anchor="slide1" attribute is useful when user clicks the data-nav-link, the window moves the related slide.
      -->
      <div class="animated-selector">
        <ul class="navigation">
          <li data-anchor="slide1" data-nav-link>FEATURES</li>
          <li data-anchor="slide2" data-nav-link>PLANS</li>
          <li data-anchor="slide3" data-nav-link>OVERVIEW</li>
          <li data-anchor="slide4" data-nav-link>ABOUT US</li>
          <li data-anchor="slide5" data-nav-link>CONTACT</li>
        </ul>
        <div class="selector"></div>
      </div><!--.animated-selector-->

      <div class="btn-action">
        <a href="<%= user_session_path %>">SIGN IN</a>
      </div><!--.btn-action-->

      <div class="hamburger-btn"></div><!--.hamburger-btn-->

    </div><!--.container-->
  </div><!--.header-->

  <!--
  * Each slide divs can be combined with these classes

  ** Material colors: such as bg-pink, bg-indigo, bg-teal etc.
  ** bg-image: you just need to write inline css style in order to path to image.
  ** bg-image-with-shadow: same for bg-image class but in this time background-gradient floats the image.
  ** bg-pattern: same for the bg-image but in this time the pattern will be repeated for background.

  * data-nav="remove" attribute hides the active navigation border when this slide in viewport.
  -->
  <div class="slide bg-image" data-nav="remove" style="background-image: url('/assets/hd2.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1 class="text-indigo text-light-shadow">WONDERING <span data-typer-targets="UNIQUE, ADVANCED, ESSENTIAL">TRAVELS</span><br>WONDERING THOUGHTS</h1>
          <p class="caption text-light-shadow">Pleasure offers lots of cards, plugins, color options and various layouts.<br>Buy it on ThemeForest and create your pages today!</p>
        </div><!--.col-->
      </div><!--.row-->

      <div class="row">
        <div class="col-md-12">
          <ul class="store-list">
            <li><a href="javascript:;"><img src="/assets/on-appstore.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="/assets/on-googleplay.png" alt=""></a></li>
          </ul>
        </div><!--.col-->
      </div><!--.row-->

    </div><!--.container-->
    <a class="btn btn-large btn-floating btn-indigo btn-next btn-next-center" data-anchor="slide1" data-nav-link><i class="ion-chevron-down"></i></a>

  </div><!--.slide-hero-->

  <!--
  * data-nav="slide1" attribute is an identifier for data-nav-links.
  -->
  <div class="slide" data-nav="slide1">

    <div class="container">

      <div class="slide-image-horizontal hide-on-mobile" data-bottom-top="left:-200px" data-center="left:50px"><img src="/assets/ba.jpg" alt="" width="100%" height="450px"></div><!--.slide-image-->

      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2 class="text-black">FEATURES</h2>
          <p class="c">Collaboratively administrate empowered markets via plug-and-play networks.</p>
          <ul class="list-vertical">
            <li>
              <div class="list-icon text-indigo">
                <i class="ion-tshirt-outline"></i>
              </div><!--.list-icon-->
              <div class="list-info">
                <h4 class="text-indigo">Responsive</h4>
                <span>Dynamically procrastinate B2C users after installed base benefits.</span>
              </div><!--.list-info-->
            </li>
            <li>
             <div class="list-icon text-green">
                <i class="ion-earth"></i>
              </div><!--.list-icon-->
              <div class="list-info">
                <h4 class="text-green">Colourful</h4>
                <span>Dramatically visualize customer directed convergence without revolutionary ROI.</span>
              </div><!--.list-info-->
            </li>
            <li>
              <div class="list-icon text-red">
                <i class="ion-bag"></i>
              </div><!--.list-icon-->
              <div class="list-info">
                <h4 class="text-red">Functional</h4>
                <span>Efficiently unleash cross-media information without cross-media value.</span>
              </div><!--.list-info-->
            </li>
          </ul>
        </div><!--.col-->
      </div><!--.row-->

      <a class="btn btn-large btn-floating btn-pink btn-next btn-next-left" data-anchor="slide2" data-nav-link><i class="ion-chevron-down"></i></a>

    </div><!--.container-->

  </div><!--.slide-->

  <div class="slide bg-light-grey" data-nav="slide2">

    <div class="container">

      <div class="slide-image-vertical hide-on-mobile" data-bottom-top="top:-200px" data-center-bottom="top:100px"><img src="/assets/baa.jpg" alt="" width="100%" height="500px"></div><!--.slide-image-->

      <div class="row">
        <div class="col-md-6">
          <h2 class="text-black">PLANS</h2>
          <p class="caption1">Quickly maximize timely deliverables for real-time schemas.</p>
          <ul class="list-vertical">
            <li>
              <div class="list-icon text-deep-purple">
                <i class="ion-images"></i>
              </div><!--.list-icon-->
              <div class="list-info">
                <h4 class="text-deep-purple">New Layouts</h4>
                <span>Completely synergize resource sucking relationships via premier niche markets.</span>
              </div><!--.list-info-->
            </li>
            <li>
              <div class="list-icon text-teal">
                <i class="ion-calendar"></i>
              </div><!--.list-icon-->
              <div class="list-info">
                <h4 class="text-teal">AngularJS</h4>
                <span>Dramatically maintain clicks-and-mortar solutions without functional solutions.</span>
              </div><!--.list-info-->
            </li>
            <li>
              <div class="list-icon text-amber">
                <i class="ion-happy-outline"></i>
              </div><!--.list-icon-->
              <div class="list-info">
                <h4 class="text-amber">Material Phonegap</h4>
                <span>Professionally cultivate one-to-one customer service with robust ideas. </span>
              </div><!--.list-info-->
            </li>
          </ul>
        </div><!--.col-->
      </div><!--.row-->

      <a class="btn btn-large btn-floating btn-amber btn-next btn-next-right" data-anchor="slide3" data-nav-link><i class="ion-chevron-down"></i></a>

    </div><!--.container-->
  </div><!--.slide-->

  <div class="slide bg-image-with-shadow" style="background-image: url('/assets/md.jpg'); " data-nav="slide3">
    <div class="container">
      <h3 class="text-white text-center" style="color: snow;">OVERVIEW</h3>
      <p class="caption text-white text-center">Dynamically innovate resource-leveling customer service for state of the art customer service.</p>

      <ul class="row list-horizontal white">
        <li class="col-sm-4" data-bottom-top="top:-50px" data-center="top:0px">
          <div class="list-icon">
            <i class="ion-radio-waves"></i>
          </div><!--.list-icon-->
          <div class="list-info">
            <h4>GITHUB SUPPORT</h4>
            <span>Collaboratively administrate empowered markets via plug-and-play networks.</span>
          </div><!--.list-info-->
        </li>
        <li class="col-sm-4" data-bottom-top="top:-50px" data-center="top:0px">
          <div class="list-icon">
            <i class="ion-search"></i>
          </div><!--.list-icon-->
          <div class="list-info">
            <h4>KEEP UPDATED</h4>
            <span>Dynamically procrastinate B2C users after installed base benefits.</span>
          </div><!--.list-info-->
        </li>
        <li class="col-sm-4" data-bottom-top="top:-50px" data-center="top:0px">
          <div class="list-icon">
            <i class="ion-map"></i>
          </div><!--.list-icon-->
          <div class="list-info">
            <h4>CUSTOMER SUPPORT</h4>
            <span>Dramatically visualize customer directed convergence without revolutionary ROI.</span>
          </div><!--.list-info-->
        </li>
      </ul>

      <a class="btn btn-large btn-floating btn-teal btn-next btn-next-center" data-anchor="slide4" data-nav-link><i class="ion-chevron-down"></i></a>

    </div><!--.container-->
  </div><!--.slide-->

  <div class="slide bg-pattern" style="background-image: url('/assets/wall.jpg');" data-nav="slide4">
    <div class="container">
      <h3 class="text-black text-center">ABOUT US</h3>
      <p class="caption text-center">Our company is located in Istanbul, Turkey and London, England.</p>

      <div class="row transform-bug">
        <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-100px" data-center="bottom:0px">
          <div class="card card-user-new">
            <img src="/assets/large/1.jpg" class="member-image" alt="">
            <div class="card-body">
              <h5>Kathryn Hoffman</h5>
              <h6>Web Developer</h6>
              <ul class="social-links list-inline">
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div><!--.card-body-->
          </div><!--.card-->
        </div><!--.col-md-3-->

        <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-200px" data-center="bottom:0px">
          <div class="card card-user-new">
            <img src="/assets/large/6.jpg" class="member-image" alt="">
            <div class="card-body">
              <h5>James Ramos</h5>
              <h6>Communications Liason</h6>
              <ul class="social-links list-inline">
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div><!--.card-body-->
          </div><!--.card-->
        </div><!--.col-md-3-->

        <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-200px" data-center="bottom:0px">
          <div class="card card-user-new">
            <img src="/assets/large/7.jpg" class="member-image" alt="">
            <div class="card-body">
              <h5>William Romero</h5>
              <h6>Division Agent</h6>
              <ul class="social-links list-inline">
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div><!--.card-body-->
          </div><!--.card-->
        </div><!--.col-md-3-->

        <div class="col-md-3 col-sm-4 col-xs-12" data-bottom-top="bottom:-100px" data-center="bottom:0px">
          <div class="card card-user-new">
            <img src="/assets/large/4.jpg" class="member-image" alt="">
            <div class="card-body">
              <h5>Justin Bowman</h5>
              <h6>Marketing Representative</h6>
              <ul class="social-links list-inline">
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div><!--.card-body-->
          </div><!--.card-->
        </div><!--.col-md-3-->

      </div><!--.row-->

    </div><!--.container-->

  </div><!--.slide-->

  <div class="slide" data-nav="slide5">

    <div class="container">
      <h3 class="text-black text-center">CONTACT</h3>
      <p class="caption text-center">We will be glad if you write us.</p>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <div class="inputer inputer-teal floating-label">
              <div class="input-wrapper">
                <input type="text" name="" class="form-control">
                <label>First name</label>
              </div><!--.input-wrapper-->
            </div><!--.inputer-->
          </div><!--.form-group-->
        </div><!--.col-->
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <div class="inputer inputer-teal floating-label">
              <div class="input-wrapper">
                <input type="text" name="" class="form-control">
                <label>Last name</label>
              </div><!--.input-wrapper-->
            </div><!--.inputer-->
          </div><!--.form-group-->
        </div><!--.col-->
      </div><!--.row-->

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="inputer inputer-teal floating-label">
              <div class="input-wrapper">
                <textarea class="form-control js-auto-size" rows="1"></textarea>
                <label>Your message</label>
              </div>
            </div>
          </div><!--.form-group-->
        </div><!--.col-->
      </div><!--.row-->

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-teal pull-right">SEND</button>
        </div><!--.col-->
      </div><!--.row-->

    </div><!--.container-->

  </div><!--.slide-->

  <div class="footer bg-black">
    <div class="container">

      <ul class="social-list">
        <li><a href="javascript:;" class="facebook"><i class="ion-social-facebook"></i></a></li>
        <li><a href="javascript:;" class="twitter"><i class="ion-social-twitter"></i></a></li>
        <li><a href="javascript:;" class="pinterest"><i class="ion-social-github"></i></a></li>
      </ul>

      <div class="copyright v-text">TEAMFOX &copy; 2015</div>

    </div><!--.container-->
  </div><!--.footer-->

  </div>
<% end %>



