<div class="content">

		<div class="page-header full-content" style="height: 600px; overflow: hidden">
			<div style="background: url('/assets/picjumbo/large/24.jpg') 50% 50%; background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
			</div>

			<div class="profile-info">
				<div class="profile-photo">
					<%= image_tag @profile1.image.url(:medium), class: 'profile-photo' %>
				</div><!--.profile-photo-->
				<div class="profile-text light">
					<%= @profile1.user_name %>
					<span class="caption">Web Developer</span>
				</div><!--.profile-text-->
			</div><!--.profile-info-->

			<div class="row">
				<div class="col-sm-6">
					<h1><%= @profile1.user_name %></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
					<% if user_signed_in?%>
					<% if current_user.id == @profile1.id%>
						<i class="fa fa-pencil" style="font-size:20px; color:black;"></i>
						<%= link_to "Edit Profile",edit_user_registration_path, style: 'color:black' %> 
						<%end%>
						<%end%>
					</ol>
				</div><!--.col-->
			</div><!--.row-->

			<div class="header-tabs scrollable-tabs sticky">
				<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
					<li class="active"><a href="#timeline" data-toggle="tab" class="btn-ripple">Articles</a></li>
					<li><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
					<li><a href="#photos" data-toggle="tab" class="btn-ripple">Photos</a></li>
					
				</ul>
			</div>


		</div><!--.page-header-->

		<div class="row user-profile">		
			<div class="col-md-12 col-xs-12">
				<div class="tab-content without-border">
					<div id="timeline" class="tab-pane active">
						<div class="row">
							<% @profile1.articles.each do |a| %>
							<div class="col-md-3 col-xs-12">
								<div class="card card-deep-purple card-image bg-image" style="background-image:url(<%= a.image %>); background-size:cover;">
									<div class="context">
										<span class="text-title"><%= link_to a.title, article_path(a) %></span>
									</div>	
								</div><!--.card-->
							</div><!--.col-->
							<% end %>	
						</div>
					
					</div><!--#timeline.tab-pane-->

					<div id="about" class="tab-pane">
						<div class="row">
							<div class="col-md-3 col-xs-12">
								<ul class="nav nav-tabs borderless vertical">
									<li class="active"><a href="#about_overview" data-toggle="tab">Overview</a></li>
									
								</ul>
							</div><!--.col-md-3-->
							<div class="col-md-9 col-xs-12">
								<div class="tab-content">

									<div class="tab-pane active" id="about_overview">
										<div class="legend">Contact Information</div>
										<div class="row">
											<div class="col-md-3 ">Mobile Phones</div><!--.col-md-3-->
											<div class="col-md-9">+91-8881234567</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Address</div><!--.col-md-3-->
											<div class="col-md-9">#1200 Sector 21<br>Chandigarh </div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Website</div><!--.col-md-3-->
											<div class="col-md-9">http://www.poplify.com</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Email</div><!--.col-md-3-->
											<div class="col-md-9"><%= @profile1.email %></div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Facebook</div><!--.col-md-3-->
											<div class="col-md-9">fb.com/poplify</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Twitter</div><!--.col-md-3-->
											<div class="col-md-9">twitter.com/poplify</div><!--.col-md-9-->
										</div><!--.row-->

										<div class="legend">Basic Information</div>
										<div class="row">
											<div class="col-md-3">Birth Date</div><!--.col-md-3-->
											<div class="col-md-9">April 27</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Birth Year</div><!--.col-md-3-->
											<div class="col-md-9">1997</div><!--.col-md-9-->
										</div><!--.row-->
										<div class="row">
											<div class="col-md-3">Gender</div><!--.col-md-3-->
											<div class="col-md-9">Male</div><!--.col-md-9-->
										</div><!--.row-->
									</div><!--#about_overview.tab-pane-->


								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->
					</div><!--#about.tab-pane-->

					<div id="photos" class="tab-pane">
						<div class="row image-row">
						<% @profile1.articles.each do |a| %>
							<div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
								<%= image_tag a.image.url, class: 'card card-deep-purple card-image bg-image'  %>
							</div><!--.col-->
						<% end %>
						</div><!--.row-->
					</div><!--#photos.tab-pane-->
				</div><!--.tab-content-->
			</div><!--.col-->
		</div><!--.row-->
	</div><!--.content-->
