
<div class="col-md-7 col-xs-12" style="margin-right: 90px;">




<div class="card card-event">




					<div class="card-heading bg-image">
					<h4 style="margin-left: 10px;
    margin-top: 10px;"><%= @article.title%><% if user_signed_in?%>
<%if @article.user.id == current_user.id%>
<%= link_to 'Edit', edit_article_path(@article), :style => "font-size:13px" %> |
<%= link_to 'Delete', article_path(@article), method: :delete, :style => "font-size:13px" %>


<%end%> <%end%></h4>
					<%= image_tag @article.image.url(:medium), style: "width:100%"%>
					</div><!--.card-heading-->

					<div class="card-body">
						<div class="calendar">
							<div class="month"><%= @article.created_at.strftime("%d %B")%></div>
							<div class="date" style="font-size:14px;"><%= @article.created_at.strftime("%g")%></div>
						</div><!--.calendar-->
						
						<p style="font-size:13px; margin-top:10px;"><%=@article.body%></p>
						<p><% @article.tags.each do |tag| %>
    <i class="fa fa-tags"></i>&nbsp;:&nbsp;<%= link_to tag.user_name, tag_path(tag) %>
  <% end %>
</p>
					</div><!--.card-body-->

					

							</div><!--col-->
						
				



<h3>Comments (<%= @article.comments.size %>)</h3>
<div>
<% if user_signed_in?%>
<%= render partial: 'comments/form' %>
<%end%>
</div>
<div class="comment-sec">  
<%= render partial: 'articles/comment', collection: @article.comments%>
</div>



				
			</div><!--.col-md-8-->
			<div class="col-md-4">
				<div class="card card-user card-user-red">
					<div class="card-heading heading-center text-color-white" style="background-color: #3e50b4">
						
							<%= image_tag @article.user.image.url(:circle), class: "user-image"%>
						
						<h3 class="card-title"><a href="#"><%=@article.user.user_name%></a></h3>
					</div><!--.card-heading-->

					<div class="card-body">
						<p>I'm Mariana, a front-end developer from Brazil &amp; currently working on Sety, T-Project and <a href="#" style="color: #3e50b4">POPLOGGER</a>.</p>
						<ul class="social-links">
							<li><a href="#" style="color: #3e50b4"><i class="fa fa-github"></i></a></li>
							<li><a href="#" style="color: #3e50b4"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" style="color: #3e50b4"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						
						<button class="btn btn-xs btn-red pull-right" style="background-color: #3e50b4; border: none;"><%= link_to "View Profile",profile_path(@article.user_id), style: "color:white; border-color:none;"%></button>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->
			<div class="col-md-4">
			 <h5 style="
    font-weight: 600;">SIMILAR POSTS</h5>
        <hr>
			<%@articles.reverse_each do |article|%>
				<div class="card card-quote card-indigo bg-image bg-opaque8">

                  <%= image_tag article.image.url(:medium), class: "img-responsive", style: "position:absolute; height:auto; width:100%;" %>
					<div class="card-body text-color-white">
						<div class="quote" style="    top: 50px;">
							
							<p><h4 style="font-size:12px; color:black"><%= link_to article.title, article_path(article),style: "background-color: rgba(0,0,0,0.8);     padding: 2px 6px;
"%></h4></p>
							
						</div><!--.quote-->
						
					</div><!--.card-body-->

				</div><!--.card-->
				<%end%>
			</div><!--.col-md-4-->


		
