<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header" style="background-color: #3e50b4">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -9px;
    color: white;"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="text-align:center; position: relative;
    bottom: 13px; color:white;">WELCOME BACK</h4>
         </div>
         <div class="modal-body">
            
            
               
               
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => "form-horizontal parsley-validate-icon"}) do |f| %>
                  <div class="field" style="margin:21px 0px 15px">
                     <%= f.email_field :email, :autofocus => true, placeholder: ' abc@mail.com',:required => true, :style=>"width:100%; padding:5px;"%>
                  </div>
                  <div class="field" style="margin:0px 0px 15px">
                     <%= f.password_field :password, autocomplete: "off", placeholder: 'Password',:required => true, :style=>"width:100%; padding: 5px;"%>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                  <div class="field col-md-6 col-xs-12" style=" font-size:12px; padding-left:0px;">
                     <%= f.check_box :remember_me %>
                     <%= f.label :remember_me %></div>
                     <div class="col-md-6 col-xs-12" style="padding: 0px;
    
    font-size: 12px;
    text-align: right;">
                  <%= render partial: 'devise/shared/link2' %>
               </div>
                  <div class="actions col-md-12", style="padding:0px; margin-top:10px;">
                 
                  <%= f.submit "Log in", :class=>'btn btn-teal col-md-8', :style => "width:100%; margin-bottom:15px;"%>
               </div>
                  <% end %></br>
                  <h5 align="center">OR</h5>
                  <div class="col-md-12 col-xs-12" style="padding:0px;">
    
                  <a href="/users/auth/facebook" class="btn btn-teal" style="width:100%; margin-bottom:15px;"> <i class="fa fa-facebook-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;SIGN IN</a> 
              </div>

               </div>
               
              
               
            </div>
            
         </div>
         
      </div>
      
         <% end %>
        
   </div>
</div>
