

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<body class="bg-login printable">

  <div class="mylogin">
    <div class="panel-login blur-content">
      <div class="panel-heading"><img src="/assets/teamfox.png" height="100" alt=""></div><!--.panel-heading-->

      <div id="pane-login" class="panel-body active">
        <h2>Login</h2>
        <div class="form-group">
          <div class="inputer">
            <div class="input-wrapper">
               <%= f.email_field :email, autofocus: true ,placeholder: "Email"%>
            </div>
          </div>
        </div><!--.form-group-->
        <div class="form-group">
          <div class="inputer">
            <div class="input-wrapper">
                  <%= f.password_field :password, autocomplete: "off",placeholder: "Password" %>
            </div>
          </div>
        </div><!--.form-group-->
        <div class="form-buttons clearfix">
          <label class="pull-left">
          <% if devise_mapping.rememberable? -%>
 
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <% end %>
    </label>
          <button type="submit" class="btn btn-default pull-right">
           <%= f.submit "Log in" %>
          </button>
        </div><!--.form-buttons-->

       
        <ul class="extra-links">
        <%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"fp"%>
        
        </ul>
      </div><!--#login.panel-body-->

      
      </div><!--#login.panel-body-->

    </div><!--.blur-content-->
  </div><!--.login-screen-->

  <div class="bg-blur dark">
    <div class="overlay"></div><!--.overlay-->
  </div><!--.bg-blur-->
  <div id="pane-forgot-password" class="panel-body">
        <h2>Forgot Your Password</h2>

        <div class="form-group">
          <div class="inputer">
            <div class="input-wrapper">
              <input type="email" class="form-control" placeholder="Enter your email address">
            </div>
          </div>
        </div><!--.form-group-->
        <div class="form-buttons clearfix">
          <button type="submit" class="btn btn-white pull-left show-pane-login">Cancel</button>
          <button type="submit" class="btn btn-success pull-right">Send</button>
        </div><!--.form-buttons-->
      </div><!--#pane-forgot-password.panel-body-->

  <svg version="1.1" xmlns='http://www.w3.org/2000/svg'>
    <filter id='blur'>
      <feGaussianBlur stdDeviation='7' />
    </filter>
  </svg>


<% end %>

<%= render "devise/shared/links" %>

</body>






















<!--<h2>Log in</h2>

<#%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <#%= f.label :email %><br />
    <#%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <#%= f.label :password %><br />
    <#%= f.password_field :password, autocomplete: "off" %>
  </div>

  <#% if devise_mapping.rememberable? -%>
    <div class="field">
      <#%= f.check_box :remember_me %>
      <#%= f.label :remember_me %>
    </div>
  <#% end -%>

  <div class="actions">
    <#%= f.submit "Log in" %>
  </div>
<# end %>

<#%= render "devise/shared/links" %>-->
