<!DOCTYPE html>
<html>
<head>
  <title>Themeblog</title>
  <% if user_signed_in? %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% else %>
   <%= stylesheet_link_tag    'frontend_application', media: 'all' %>
   <% end %>
     <%= javascript_include_tag 'application' %>
   <script src="http://maps.google.com/maps/api/js?sensor=true&amp;libraries=places"></script>
  <%= csrf_meta_tags %>
</head>



<% if user_signed_in? %>
<body>
<%= render '/articles/header' %>
  <%= yield %>
   <%= javascript_include_tag 'application_postyield' %>
</body>

<%else%>

<body>
<div class="content">
  <%= yield %>
  <%= javascript_include_tag 'frontend_postyield_application' %>
  </div>
</body>

<% end %>






</html>
